<div class="menu-container">
  <div class="header-top">
    <img class="logo" routerLink="/menu-principal" src="/assets/logo.png" alt="AllTickets Logo">
  
  @if (usuario) {
    <!-- Menú que aparece solo para admin -->
    @if (usuario.rol === 'admin') {
      <nav class="menu-admin">
        <h2>Panel de Administración</h2>
        <ul>
          <li><a routerLink="/eventos">Agregar Eventos</a></li>
          <li><a routerLink="/lista-eventos">Ver lista de Eventos</a></li>
          <li><a routerLink="/formulario-descuento">Agregar Descuento</a></li>
          <li><a routerLink="/lista-descuento">Ver lista Descuentos</a></li>
          <li><a routerLink="/estadisticas">Ver Estadísticas de Ventas</a></li>
          <li><a routerLink="/logout" (click)="cerrarSesion()">Cerrar Sesión</a></li>
        </ul>
      </nav>
    }

    <!-- Menú que aparece solo para usuario común -->
    @if (usuario.rol === 'usuario') {
      <nav class="menu-usuario">
        <h2>Bienvenido, {{ usuario.nombre }}</h2>
        <ul>
          <li><a routerLink="/perfil/:id">🧍🏻‍♂️ Mi Perfil</a></li>
          <li><a routerLink="/favoritos">❤️ Mis Favoritos</a></li>
          <li><a routerLink="/mis-tarjetas">💳 Mis Tarjetas</a></li>
          <li><a routerLink="/carrito">🛒 Carrito</a></li>
          <li><a routerLink="/historial-compras">🛍️ Mis compras</a></li>
          <li><a class="btn-cerrar" routerLink="/logout" (click)="cerrarSesion()">Cerrar Sesión</a></li>
        </ul>
      </nav>
    }
  } @else {
    <!-- Menú para visitantes (sin sesión) -->
    <nav class="menu-visitante">
      <h1>🎫 AllTickets</h1>
      <ul>
        <li><a routerLink="/login">Iniciar Sesión</a></li>
        <li><a routerLink="/registro">Registrarse</a></li>
      </ul>
    </nav>
  }
    <a class="btn-volver" routerLink="/menu-principal">← Volver al menú</a>
    </div>
</div>
