
:host {
  display: block;
}

.tabla-descuentos {
  min-width: 40rem;
}


.celda-codigo {
  font-weight: 600;
  text-transform: uppercase;
}

.celda-porcentaje {
  font-weight: 600;
  font-variant-numeric: tabular-nums;
}
