<h1>Lista de Eventos</h1>

<!-- Buscador simple -->
<input
  type="text"
  placeholder="Buscar por título..."
  [(ngModel)]="filtroTitulo"
/>

@let evento = eventosFiltrados;

@if (isLoading()) {
  <p>Cargando eventos...</p>
}
@else if (evento && evento.length > 0) {
  <table class="tabla-eventos">
    <thead>
      <tr>
        <th class="sortable" (click)="ordenarPor('titulo')">Título</th>
        <th class="sortable" (click)="ordenarPor('fecha')">Fecha</th>
        <th class="sortable" (click)="ordenarPor('hora')">Hora</th>
        <th class="sortable" (click)="ordenarPor('lugar')">Lugar</th>
        <th class="sortable" (click)="ordenarPor('modoVenta')">Modo Venta</th>
        <th class="no-sort">Acciones</th>  
      </tr>
    </thead>
    <tbody>
      @for (ev of evento; track ev.id) {
        <tr>
          <td>{{ ev.titulo  }}</td>
          <td>{{ ev.fecha ? (ev.fecha | date:'dd/MM/yyyy') : '-' }}</td>
          <td>{{ ev.hora  }}</td>
          <td>{{ ev.lugar  }}</td>
          <td>{{ ev.modoVenta  }}</td>
          <td class="acciones">
            <button class="btn-ver" (click)="navegarAdetalles(ev.id!)">Ver detalles</button>
            <button class="btn-eliminar" (click)="eliminarEvento(ev.id!)">Eliminar</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <a routerLink="/menu-principal" class="btn volver-btn">Volver al menú principal</a>
}
@else {
  <p>No hay eventos disponibles.</p>
}



