@let descuento = this.descuento();

@if (descuento) {

  <h2>{{ descuento.codigo }}</h2>
  <p>
    Descuento: {{ descuento.porcentaje }}% |
    Estado: {{ descuento.activo ? 'Activo' : 'Inactivo' }}
  </p>

  <p>
    Vigencia: desde {{ descuento.fechaInicio | date:'dd/MM/yyyy' }}
    hasta {{ descuento.fechaFin | date:'dd/MM/yyyy' }}
  </p>

  <div class="acciones">
    <button (click)="toggleEdit()">Editar</button>
    <button (click)="eliminarDescuento()" [disabled]="isEditing()">Eliminar</button>
  </div>

  @if (isEditing()) {
    <p>Editando...</p>
    <app-formulario-descuento
      id="form-edicion"
      [isEditing]="true"
      [descuento]="descuento"
      (edited)="handleEdit($event)" 
      (cancelled)="toggleEdit()">
    </app-formulario-descuento>
  }

} @else {
  <p>No se encontró el descuento</p>
}
@if(!isEditing()){
  <button routerLink="/lista-descuento" class="volver-btn">Volver a la lista</button>
}
