
:host {
  display: flex;
  flex-direction: column;
}

.registro__fila {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--sp-4);
}

@media (max-width: 480px) {
  .registro__fila {
    grid-template-columns: 1fr;
  }
}
