:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #667eea;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.register-container {
  width: 420px;
  padding: 40px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.25),
    0 0 40px rgba(0, 0, 0, 0.15);
}

.register-container h2 {
  text-align: center;
  color: #4b41c4;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
}

.register-container input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d0d0d0;
  outline: none;
  font-size: 14px;
  margin-bottom: 18px;
}

.error-message {
  color: #d9534f;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

button:disabled {
  background:#7c4dff;
  cursor: not-allowed;
}

.volver {
  background-color: red;
}
